.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
.card-wrapper {
    height: 50vh;
    width: 80vh;
}
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}
